.floor-bg {
  pointer-events: auto;
}

.floor-bg-border {
    -webkit-transition: -webkit-transform 1s, fill 0.3s;
  	transition: transform 1s, fill 0.3s;
}

.floor-bg:hover .floor-bg-border{
  fill:  #01579b;
}

.floor-svg {
    position: absolute;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: all 1s, opacity 0.3s;
  	transition: all 1s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}
