.container {
	display: flex;
	flex-flow: column;
	height: 100vh;
}

.main {
	position: relative;
	flex: 3;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100vw;
}

.searchBar {
	filter: drop-shadow(0 0 1px #333);
	position: fixed;
	right:0!important;
	left:auto!important;
	margin: 1.5em!important;
	-webkit-transition: all 1s;
	transition: all 1s;
	z-index: 999;
}

.floorLabel{
	filter: drop-shadow(0 0 2px #333);
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 1.5em;
	text-align: center;
	-webkit-transition: all 1s;
	transition: all 1s;
}

.routePanel{
	filter: drop-shadow(0 0 2px #333);
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.routePanelActive {
	overflow-x: scroll;
	flex: 1;
}

.floorLabelText{
  font-size: 2vh!important;
}

@media screen and (max-width: 65.625em), screen and (max-height: 40.625em) {
	.main {
		width: 100vw;
		height: 100vh;
	}
}
