.map-tag{
  display: flex;
  position: absolute;
  width: 5px;
  height: 5px;
}

.tag {
  font-size: 1.5vmin!important;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
