.map-tag{
  position: absolute;
  width: 5vmin;
  height: 5vmin;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tag-container{
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  pointer-events : auto;
  cursor         :pointer;
}

.tag-icon {
  position: absolute;
  top: 5%;
  left: 5%;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  font-size: 100%!important;
  margin: 0 auto!important;
  -webkit-transform: rotate3d(0.3,-0.5,0.3,30deg);
  transform: rotate3d(0.3,-0.5,0.3,30deg);
}
