.map-tag{
  display: flex;
  position: absolute;
  width: 5px;
  height: 5px;
}

.tag {
  width: 10vmin;
  height: 10vmin;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
